@use 'cores';

.footer {
    justify-content: center;
    display: flex;
    
    &__disclaimer {
        padding: 18px;
        color: cores.$corDoTextoPrincipal;

        @media (max-width: 768px) {
            font-size: large;
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            font-size: 30px;
        }
    }
}