@use 'header';
@use 'hero';
@use 'about';
@use 'review';
@use 'footer';
@use 'cores';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: cores.$corDeFundoPrincipal;
    color: cores.$corDoTextoPrincipal;

    @media (max-width: 768px) {
        max-width: 768px;
        width: 100%;
    }
}